    <!-- Call to action -->
    <section class="call-to-action" style="background-image: url(/images/Talks.png);">
        <div class="auto-container">
            <div class="content-box">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, incidunt!</h2>
                <div class="btn-box">
                    <a href="https://www.crowdcast.io/e/istiocon-2021" target="_blank" class="theme-btn btn-style-two"><span class="btn-title">Join our newsletter</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call to action -->


<!-- Previous events at home-->
    <br><br>

    <div class="container">
        <div class="row">

            <div class="col-md-5">
           
              <h2 class="upcoming-event-title"> 
                <img src="/images/icons/Event.png" alt="" width="90">PREVIOUS EVENTS</h2>
            </div>
            <div class="col col-lg-7">
              <div class="project-item" style="background-color:#7878FF;">
                <h3><a class="session-title" data-toggle="collapse" href="#abs-4" style="color: black;"> <strong>October 18</strong></a></h3>
                
      
                <div class="row">
                  
                  <div class="col col-lg-10">
         
                    <h5 style="color:black;" ><strong>Apache Beam</strong></h5>
                    
                <p class="speakers-list" style="color:black;"> <strong>Talk about:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, repellat.
                </p>

                
           
                  </div>
                  <div class="col col-lg-2">
                    <center>
                        
                      <div class="recording">
                        <a href="https://youtu.be/194LCFWaEyE" target="_blank"><i  class="fa fa-2x fa-youtube"></i></a>
                      </div>
                      
                    
                </center>
                  </div>
                </div>
                          <div class="collapse card-abstract" id="abs-4" style="color: black;">
                    <div><a href="/events" style="color: black;">See more...</a></div>
            </div>
             </div>
             <div class="project-item" style="background-color:#7EC3F3;">
              <h3><a class="session-title" data-toggle="collapse" href="#abs-5" style="color: black;"> <strong>October 17</strong></a></h3>
                
              <div class="row">
                  
                <div class="col col-lg-10">

                    <h5 style="color:black;" ><strong>Apache Beam</strong></h5>
       
              <p class="speakers-list" style="color:black;"> <strong>Talk about:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, repellat.
              </p>
         
                </div>
                <div class="col col-lg-2">
                  <center>
                    <div class="recording">
                      <a href="https://youtu.be/194LCFWaEyE" target="_blank"><i  class="fa fa-2x fa-youtube"></i></a>
                    </div>
                    
                  
              </center>
                </div>
              </div>
                <div class="collapse card-abstract" id="abs-5" style="color: black;">
                    <div><a href="/events" style="color: black;">See more...</a></div>
            </div>
           </div>
           <div class="project-item" style="background-color:#CDBAFF;">
            <h3><a class="session-title" data-toggle="collapse" href="#abs-6" style="color: black;"> <strong>October 16</strong></a></h3>
                
            <div class="row">
                  
              <div class="col col-lg-10">
      
                <h5 style="color:black;" ><strong>Apache Beam</strong></h5>
            <p class="speakers-list" style="color:black;"> <strong>Talk about:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, repellat.
            </p>
       
              </div>
              <div class="col col-lg-2">
                <center>
                  <div class="recording">
                    <a href="https://youtu.be/194LCFWaEyE" target="_blank"><i  class="fa fa-2x fa-youtube"></i></a>
                  </div>
                  
                
            </center>
              </div>
            </div>
            <div class="collapse card-abstract" id="abs-6" style="color: black;">
                <div><a href="/events" style="color: black;">See more...</a></div>
        </div>
         </div>
            </div>
          </div>
    </div>
    <br>


    
