{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="container mb-4">
    <p class="text-center">
        {{ .Content }}
    </p>

    <div class="schedule-block" style="margin-top: 50px;">
      <div class="session-item">
        <img src="/images/logos/beam.png" alt="" >

      <div class="session-info">

      
      
      <h2 class="title-talk border-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <div class="details-talk col-sm-3">
      
        <h3> <strong>Oct 19</strong></h3>
        <p>5 PM PST</p>
      </div>
      <br>
      <div class="register-button">
        <a href="#" target="_blank" class="theme-btn btn-style-two"><span class="btn-title">Register now!</span></a>
    </div>

    </div>

    </div>

        
    <div class="row">
      <div class="col md-1">
        <img  src="/images/icons/talks-cat.png" alt="" width="70">
      </div>
      <div class="col-md-3" style="margin-right: -2%;">
     
        <h2 class="upcoming-event-title" style="text-align: center;"> 
          TALKS</h2>
      </div>
      <div class="col col-lg-8">
        <div class="project-item" style="background-color:#7878FF;" data-toggle="collapse" href="#abs-4">
          <h3><a class="session-title" style="color: black;"> <strong>Lorem ipsum dolor.</strong></a></h3>
          
          <p class="speakers-list" style="color:black;"> <strong>By:</strong> Mara Ruvalcaba & Pedro Galván
          </p>
          <div class="collapse card-abstract" id="abs-4" style="color: black;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut laboriosam illo odio nulla minima. Enim?
              <div><a href="/talks" style="color: black;">See more...</a></div>
      </div>
       </div>
       <div class="project-item" style="background-color:#7EC3F3;" data-toggle="collapse" href="#abs-5">
        <h3><a class="session-title" style="color: black;"><strong>Lorem ipsum dolor sit imsum.</strong></a></h3>
          
        <p class="speakers-list" style="color:black;"> <strong>By:</strong> Pedro Galván
        </p>
          <div class="collapse card-abstract" id="abs-5" style="color: black;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quaerat, ipsa suscipit rem magni voluptates accusantium reiciendis tempore! Rem, aperiam.
              <div><a href="#" style="color: black;">See more...</a></div>
      </div>
     </div>

      </div>
    </div>
   
  </div>
    </div>



    

    


    <!--<table data-toggle="table" data-search="true" data-search-align="left">
        <thead>
          <tr>
            <th data-field="title">Title</th>
            <th data-field="speaker">Speaker(s)</th>
            <th data-field="recording">Recording</th>
            <th data-field="slides">Slides</th>
          </tr>
        </thead>
        <tbody>
    {{ range sort (where $.Site.RegularPages "Section" "sessions") ".Params.time_end" }}
    <tr>
        <td><a class="session-title" href="{{.Permalink}}">{{ .Params.title }}</a></td>
        <td>{{ with .Params.speakers }}{{ delimit . ", " " & " }}{{ end }}</td>
        <td class="text-center">{{ with .Params.video }}<a href='{{ replace . "https://www.youtube.com/embed" "https://youtu.be" }}' target="_blank"><i class="fa fa-youtube" aria-hidden="true" title="Watch"></i></a>{{ end }}</td>            
        <td class="text-center">{{ with .Params.slides }}<a href='{{ if hasPrefix . "http" }}{{ . }}{{ else }}/istiocon-2021/slides/{{ . }}{{ end }}' target="_blank" download><i class="fa fa-download" aria-hidden="true" title="Slides"></i></a>{{ end }}</td>
    </tr>    
    {{ end }}
    </tbody>
    </table>-->
</div>

{{ end }}
