{{ define "main" }}

{{ partial "page-title.html" . }}
<!-- Speaker Detail -->
<section class="speaker-detail" style="margin-top: -3%;">
  <div class="auto-container">
      <div class="row">
          <div class="image-column col-lg-4 col-md-12 col-sm-12">
              <div class="image-box">
                  <figure class="image"><img src="/images/speakerw.jpg" alt=""></figure>
                  <ul class="social-icon-two social-icon-colored text-center">
                      
                      <li><a href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                      <li><a href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>             
                      <li><a href="#" target="_blank"><span class="fab fa-github"></span></a></li>
                   
                  </ul>
              </div>
          </div>

          <div class="info-column col-lg-8 col-md-12 col-sm-12">
              <div class="inner-column">
                  <div class="text-box">
                      <h3>Mara Ruvalcaba</h3>
                      <h5>Designation title</h5>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus nisi pariatur, voluptatum fuga id incidunt quam nam iste ipsum cupiditate aspernatur rem reiciendis nihil nobis! Quidem ullam soluta ex a ad ducimus, cum explicabo nobis aliquid assumenda eligendi consectetur aspernatur debitis temporibus minus tenetur? Quos molestias ea, rerum perspiciatis nesciunt officiis in, architecto optio neque nobis maxime eos consequatur voluptatibus?</p>
                      <h4>Sessions by Mara Ruvalcaba</h4>

                      <!-- Sessions speaker -->
                      <ul>
                    
                        <li><a href="/talks">Presentation example</a></li>
                      
                      </ul>
                      <!-- Sessions speaker end -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Speker Detail -->

{{ end }}