    <!-- Call to action -->
    <section class="call-to-action" style="background-image: url(/images/Talks.png);">
        <div class="auto-container">
            <div class="content-box">
                <h2>Join our newsletter to get news about upcoming events, available recordings and open source project's updates.</h2>
                <div class="btn-box">
                    <a href="https://forms.gle/3NcDqKk4g44ig8UUA" target="_blank" class="theme-btn btn-style-two"><span class="btn-title">Join our newsletter</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call to action -->

    <br><br>


    
