<footer class="section footer">
	<div class="container">
		<div class="footer-strip">
			<div>
				<h3 class="mb-3">{{ .Site.Title | markdownify }} Space</h3>

				<ul class="list-inline footer-socials">
					{{ range .Site.Params.social }}
					<li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
					{{ end }}
				</ul>
			</div>			
			<div>
				<h5>About Clowder Space</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_about }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>
			<p>This is a Beta version of Clowder space, so all your suggestions are welcome at info@clowder.space</p>
			<!--<div>
				<h5>Event resources</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_resources }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul> 
			</div>-->
		</div>
		{{ with .Site.Params.disclaimer }}
		<div class="disclaimer">
			{{ . }}
		</div>	
		{{ end }}

		<hr>

		
		<div style="text-align: center;">
			All Project names are trademarks of their respective owners.
		</div>
	</div>
</footer>


