<section class="page-header" style="padding-top: 80px;background-color:rgba(38, 84, 122, 0.212); background-image: url('{{ .Params.Bg_image | relURL }}'), url('{{`images/title-back.png` | relURL }}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 mb-3">
          <div class="content text-center mb-3">            
            <h1 class="mb-3" style="color: black; background-color:rgba(255, 255, 255, 0.794); border-radius: 15px 15px 15px 15px;" >{{ .Title }}</h1>
            <div class="divider mx-auto mb-4"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
