{{ $data := index .Site.Data }}


<div class="container mb-4">
  

  <div class="schedule-block" style="margin-top: 50px;">
 
  <div class="row">

    <div class="col-md-5">
   
      <h2 class="upcoming-event-title"> 
        <img src="/images/icons/Event.png" alt="" width="90">UPCOMING EVENTS</h2>
    </div>
    <div class="col col-lg-7 colores">
      {{ range sort (where $.Site.RegularPages "Section" "events")}}
      {{ $start_date := .Params.start_date | time }}
      {{ if ge $start_date now }}

      <div class="project-item" data-toggle="collapse" href="#abs-{{.Params.id}}">
        <h3><a class="session-title" style="color: black;"> <strong>{{ $start_date.Format "2 January at 3:04pm" }}</strong></a></h3>
        

        <div class="row">
          
          <div class="col col-lg-10">
 
            <h5 style="color:black;" ><strong>Project: {{ .Params.projects }}</strong></h5>
            
        <p class="speakers-list" style="color:black;"> <strong>Talk about:</strong> {{ .Title }}
        </p>

        
   
          </div>
          <!--<div class="col col-lg-2">
            <center>
                
              <div class="recording">
                <a href="https://youtu.be/194LCFWaEyE" target="_blank"><i  class="fa fa-2x fa-youtube"></i></a>
              </div>
              
            
        </center>
          </div>-->
        </div>
                  <div class="collapse card-abstract" id="abs-{{.Params.id}}" style="color: black;">
            <div><a href="{{.Permalink}}" style="color: black;">See more...</a></div>
    </div>
     </div>

     {{ end }}
     {{ end }}
     
    </div>
  </div>



  </div>
</div>



<!-- About Section 
{{ with $data.homepage.event_info }}
<section class="about-section" id="about-section">
  <a id="event-info" style="padding-top: 40px; margin-top: -40px;"></a>
  <div class="anim-icons full-width">
    <span class=""></span>
    <span class="icon icon-circle-1"></span>
  </div>
  <div class="auto-container">
    <div class="row">-->
      <!-- Content Column
      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">{{ .pretitle}}</span>
            <h2>{{ .title }}</h2>
            <div class="text">{{ .description }}</div>
          </div>
          <div class="btn-box">
            <a href="{{ .cta_link }}" target="_blank" class="theme-btn btn-style-two"><span
                class="btn-title">{{ .cta_text }}</span></a>
          </div>
        </div>
      </div>-->

      <!-- Image Column 
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="">
          <figure class=""><img src="/images/Events.png" alt=""></figure>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}-->
<!--End About Section -->
