{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="container">
    <table data-toggle="table" data-search="true" data-search-align="left">
        <thead>
          <tr>
            <th data-field="title">Project</th>
            <th data-field="title">Title</th>
            <th data-field="speaker">Speaker(s)</th>
            <th data-field="recording">Recording</th>
            <th data-field="slides">Slides</th>
          </tr>
        </thead>
        <tbody>
    
    <tr>
        <td><a class="session-title" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker name </td>
        <td class="text-center"><a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true" title="Watch"></i></a></td>            
        <td class="text-center"><a href="#" target="_blank" download><i style="color: #5819FF;" class="fa fa-download" aria-hidden="true" title="Slides"></i></a></td>
    </tr>
    <tr>
        <td><a class="session-title" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker name </td>
        <td class="text-center"><a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true" title="Watch"></i></a></td>            
        <td class="text-center"><a href="#" target="_blank" download><i style="color: #5819FF;" class="fa fa-download" aria-hidden="true" title="Slides"></i></a></td>
    </tr>    
    <tr>
        <td><a class="session-title" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker name </td>
        <td class="text-center"><a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true" title="Watch"></i></a></td>            
        <td class="text-center"><a href="#" target="_blank" download><i style="color: #5819FF;" class="fa fa-download" aria-hidden="true" title="Slides"></i></a></td>
    </tr>    
    <tr>
        <td><a class="session-title" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker name </td>
        <td class="text-center"><a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true" title="Watch"></i></a></td>            
        <td class="text-center"><a href="#" target="_blank" download><i style="color: #5819FF;" class="fa fa-download" aria-hidden="true" title="Slides"></i></a></td>
    </tr>    
    <tr>
        <td><a class="session-title" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker name </td>
        <td class="text-center"><a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true" title="Watch"></i></a></td>            
        <td class="text-center"><a href="#" target="_blank" download><i style="color: #5819FF;" class="fa fa-download" aria-hidden="true" title="Slides"></i></a></td>
    </tr>    
    <tr>
        <td><a class="session-title" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker name </td>
        <td class="text-center"><a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true" title="Watch"></i></a></td>            
        <td class="text-center"><a href="#" target="_blank" download><i style="color: #5819FF;" class="fa fa-download" aria-hidden="true" title="Slides"></i></a></td>
    </tr>    
  
    
    
    </tbody>
    </table>

    <br>
</div>

{{ end }}