{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="container">
    <table data-toggle="table" data-search="true" data-search-align="left">
        <thead>
          <tr>
            <th data-field="project">Project</th>
            <th data-field="title">Title</th>
            <th data-field="speaker">Speaker(s)</th>
            <th data-field="Date">Date</th>
          </tr>
        </thead>
        <tbody>
    
    <tr>
        <td><a class="" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker(s) name</td>            
        <td>November/04/2021</td>
    </tr>
    <tr>
        <td><a class="" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker(s) name</td>            
        <td>November/04/2021</td>
    </tr>
    <tr>
        <td><a class="" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker(s) name</td>            
        <td>November/04/2021</td>
    </tr>
    <tr>
        <td><a class="" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker(s) name</td>            
        <td>November/04/2021</td>
    </tr>
    <tr>
        <td><a class="" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker(s) name</td>            
        <td>November/04/2021</td>
    </tr>
    <tr>
        <td><a class="" href="#">Title project</a></td>
        <td><a class="session-title" href="#">Title session</a></td>
        <td>Speaker(s) name</td>            
        <td>November/04/2021</td>
    </tr>
    </tbody>
    </table>

    <br>
</div>

{{ end }}