{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="container">
    <table data-toggle="table" data-search="true" data-search-align="left" style="border-collapse: separate; border-radius: 10px; padding: 10px;" >
        <thead>
          <tr>
            <th data-field="project">Project</th>
            <th data-field="title">Title</th>
            <th data-field="speaker">Speaker(s)</th>
            <th data-field="recording">Recording</th>
            <th data-field="date">Date</th>
          </tr>
        </thead>
        <tbody> 
        
          {{ range sort (where .Site.RegularPages "Section" "events") ".Params.start_date" "desc"}}
          {{ $start_date := .Params.start_date | time }}
          {{ if le $start_date now }}
 
         

    <tr>
        {{ range (.GetTerms "projects") }}
        <td><a class="session-title" href="{{ .RelPermalink }}">{{ .Params.title }}</a></td>
        {{ end }}
        <td><a class="session-title" href="{{ .RelPermalink }}">{{ .Params.title }}</a></td>

        {{ range .Params.sessions }}
        {{ with $.Site.GetPage . }}
        <td><a href="{{ .RelPermalink }}">{{ with .Params.speakers }}{{ delimit . ", " " & " }}{{ end }}</a></td>
       
        <td class="text-center">{{ with .Params.video }}<a href='{{ replace . "https://www.youtube.com/embed" "https://youtu.be" }}' target="_blank"><i class="fa fa-youtube" aria-hidden="true" title="Watch"></i></a>{{ end }}</td>

        {{ end }}
        {{ end }}
        <td>{{ $start_date.Format "January 2, 2006" }}</td>
    </tr>
    {{ end }}
    {{ end }}

    </tbody>
    </table>

    <br>
</div>

{{ end }}