{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="container">
    <table data-toggle="table" data-search="true" data-search-align="left" style="border-collapse: separate; border-radius: 10px; padding: 10px;" >
        <thead>
          <tr>
            <th data-field="project">Project</th>
            <th data-field="title">Title</th>
            <th data-field="speaker">Speaker(s)</th>
            <th data-field="Date">Date</th>
          </tr>
        </thead>
        <tbody>
            {{ range sort (where $.Site.RegularPages "Section" "events")}}

    <tr>
        {{ range (.GetTerms "projects") }}
        <td><a class="session-title" href="{{ .Permalink }}">{{ .Params.title }}</a></td>
        {{ end }}
        <td><a class="session-title" href="{{.Permalink}}">{{ .Params.title }}</a></td>
        <td>{{ with .Params.speakers }}{{ delimit . ", " " & " }}{{ end }}</td>
        <td>{{ .Date.Format "January 2, 2006" }}</td>
    </tr>
    {{ end }}
    </tbody>
    </table>

    <br>
</div>

{{ end }}